body {
    font-family:'メイリオ', 'Meiryo', sans-serif;
    display:flex; /* 子要素横並び */

    /* ウィンドウサイズの95% */
    width: 95vw;
    height: 95vh;
}

video {
    height: 100%;
}

p {
    padding-left: 5px;
}

/* 【<table>: 表要素 - HTML: HyperText Markup Language | MDN】 */
/* https://developer.mozilla.org/ja/docs/Web/HTML/Element/table */
table,
td {
    margin-left: 5px;
    border: 1px solid #333;
}
thead,
tfoot {
    background-color: #333;
    color: #fff;
}

#left {
    height: 100%;
}

#right {
    height: 100%;
    max-width: 180px;
}

#hyoko {
    width: 100%; /* ウィンドウサイズ-動画の横幅になるように */
    height: auto;

    /* 画面下寄せするため */
    /* padding-top: 60vh; */
}

#copy {
    /* 要素が見えないように */
    position: absolute;
    top: -100px;
    left: -100px;
}

